@model DataBridge.Controllers.HealthController


<div>
    <img src="~/images/hdt-london.jpg" style="width:112%;   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;" />
</div>

<div style="position: relative;
    margin-top: 45%;
    margin-left: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);">
    <button class="button button1">Try Demo</button>
</div>

<div class="bg_container">
    <div class="svgdigit_container">
        <div class="svg_container">
            <img src="~/images/hospital.png" alt="" class="digitlogo">
        </div>
        <div class="digit_container">
            <p>3,483</p>
            <p>health care sites</p>
        </div>
    </div>

    <div class="svgdigit_container">
        <div class="svg_container">
            <img src="~/images/employee.png" alt="" class="digitlogo">
        </div>
        <div class="digit_container">
            <p>1,308</p>
            <p>customers</p>
        </div>
    </div>

    <div style="position: relative; float: left; height: 200px; width:1px; background-color: black; margin-top: 7%;"
         class=""></div>

    <div class="svgdigit_container">
        <div class="svg_container">
            <img src="~/images/worldwide.png" alt="" class="digitlogo">
        </div>
        <div class="digit_container">
            <p>49</p>
            <p>countries</p>
        </div>
    </div>
    <div style="position: relative; float: left; height: 200px; width:1px; background-color: black; margin-top: 7%;"
         class=""></div>
</div>

<div>
    <div style="text-align: center; margin: 100px;">
        <p>HEALTH CARE ANALYTICS SOLUTIONS</p>
        <p>Solutions for Better Care & Lower Costs</p>
        <p>
            Rising health care costs are due, in part,
            to more complex demand and potentially avoidable complications.
            High-quality health care is both safer and more cost-efficient – saving patient lives, reducing hospital
            burden and enabling more patients to receive treatment.
        </p>
    </div>
    <div>
        <div id="pub_container1" style="background-color:#f1f8ff">
            <div class="pub_description">
                <h3>Medical image analysis</h3>
                <p>
                    The most popular image-processing techniques focus on enhancement, segmentation, and denoising
                    that allows deep analysis of organ anatomy, and detection of diverse disease conditions.This
                    application aim to detect tumors, artery stenosis, organ delineation, etc.
                </p>
            </div>
            <div class="pub_image"><img src="~/images/hcusecase0.jpg" alt=""></div>
        </div>
        <div id="pub_container1" style="background-color:#f7fafc">
            <div class="pub_image"><img src="~/images/hcusecase1.png" alt=""></div>
            <div class="pub_description">
                <h3>Genetics and Genomics</h3>
                <p>
                    The Deep Genomics made a remarkable impact on predicting the molecular effects of genetic
                    variation essential to DNA interpretation. Their database has enabled the scientists to
                    understand how genetic variations can impact a genetic code.
                </p>
            </div>
        </div>
        <div id="pub_container1" style="background-color:#f1f8ff">
            <div class="pub_description">
                <h3>Creation of drugs</h3>
                <p>
                    The idea behind the computational drug discovery is to create computer model simulations as a
                    biologically relevant network simplifying the prediction of future outcomes with high accuracy.
                    It allows choosing, which experiments should be done and incorporates all the new information in
                    a continuous learning loop. Analogous techniques are used to predict the side effects of some
                    particular chemical combinations.
                </p>
            </div>
            <div class="pub_image"><img src="~/images/hcusecase2.png" alt=""></div>
        </div>
        <div id="pub_container1" style="background-color:#f7fafc">
            <div class="pub_image"><img src="~/images/hcusecase3.jpg" alt=""></div>
            <div class="pub_description">
                <h3>
                    Virtual assistance for patients and customer support
                </h3>
                <p>
                    Apps can remind you to take your medicine on time, and if necessary, assign an appointment with a
                    doctor. This approach promotes a healthy lifestyle by encouraging patients to make healthy
                    decisions, saves their time on waiting in line for an appointment, and allows doctors to focus
                    on more critical cases.

            </div>
        </div>
        <div id="pub_container1" style="background-color:#f1f8ff">
            <div class="pub_description">
                <h3>
                    Predictive medicine: prognosis and diagnostic accuracy
                </h3>
                <p>
                    The data science predictive analytics methods learn from historical data and make
                    accuratepredictions about the outcomes. They process the patient data, make sense of clinical
                    notes, find the correlations, associations of symptoms, familiar antecedents, habits, diseases,
                    and then make predictions.
                </p>
            </div>
            <div class="pub_image"><img src="~/images/hcusecase4.png" alt=""></div>
        </div>
    </div>
</div>