@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div>
    <img src="~/images/sfo.png" style="width:100%;   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;" />
</div>

<div class="formcontainer">
    <div class="formdetaille">
        <h4>Welcome!</h4>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="POST">
            <input asp-for="Input.Email" type="email" placeholder="Email" class="inputform"><br>

            <input asp-for="Input.Password" type="password" placeholder="Password" class="inputform"><br>
            <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm password" class="inputform"><br>
            <input type="submit" value="LOGIN" class="login_sub">

        </form>
    </div>
</div>


<!--

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
    -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
