@model DataBridge.Controllers.MarketingController

    <div>
        <img src="~/images/AI-1200x480.jpg" style="width:100%;   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;" />
    </div>

<div style="position: relative;
        margin-top: 45%;
        margin-left: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);">
    <button class="button button1">Try Demo</button>
</div>
<div style="margin-left:5%; margin-top: 200px;">
    <div class="cont" onMouseOver="showText()" onMouseOut="hide()">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Optimize budget</div>
        <div id="text1" class="imagedescription animate-bottomm">
            <p>
                Optimize your budget Utilizing a budget to its fullest extent can be tricky and time consuming. A data scientist can use
                your spend, impression, and acquisition data to build a model that will handle this process for you.
                A model can balance how you distribute your budget across channels, locations, campaigns, and mediums
                to optimize for your key metric, whether that’s brand reach, ROI, or CPA.
            </p>
        </div>
        <div>
            <input type="button" placeholder="Try Demo" class="read-more-butt" value="Read More">
        </div>
    </div>

    <div class="cont">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Market where it matters</div>
    </div>

    <div class="cont">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Match strategies to custmers</div>
    </div>

    <div class="cont">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Prioritize and align</div>
    </div>

    <div class="cont">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Plan ahead</div>
    </div>

    <div class="cont">
        <img src="~/images/healthcare-forbes.jpg" alt="" style="width: 100%;">
        <div class="conttitle">Analyze social data</div>
    </div>

</div>
