@model DataBridge.Controllers.HomeController


    <div>
        <img src="~/images/sfo.png" style="width:100%;   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;" />
    </div>

<div>
    <div>
        <div id="quote">
            <h2>
                Data really powers everything that we do.
            </h2>
        </div>

        <div class="containere" id="article1">
        </div>
        <div class="containere" id="article2">
        </div>
        <div class="containere" id="article3">
        </div>
    </div>


    <div class="slid_container">
        <div class="slides">
            <img class="mySlides animate-right" src="~/images/1.jpg" style="width:100%">
            <img class="mySlides animate-right" src="~/images/2.jpg" style="width:100%">
            <img class="mySlides animate-right" src="~/images/3.jpg" style="width:100%">
        </div>
    </div>
</div>


<div id="pub_container1">
    <div class="pub_description"><h3>Financial Servicecs</h3> <p> Financial applications using Machine Learning technology will become increasingly personalized, highly-secured and user friendly. They will also be considered more trustworthy, more objective, and more reliable than human advisors.</p></div>
    <div class="pub_image"><img src="~/images/finance-data-science-1013x440.jpg" alt=""></div>
</div>
<div id="pub_container2">
    <div class="pub_image"><img src="~/images/big-data-for-algorithm-trading.jpg" alt=""></div>
    <div class="pub_description"><h3>Optimal Marketing</h3> <p>This allows marketing teams to deliver the right product to the right person at the right time and on the preferred device. Dynamic personalized pricing based on Data Mining models is also a good way to increase sales.</p></div>
</div>
<div id="pub_container3">
    <div class="pub_description">
        <h3>Healthcare</h3>
        <p>
            From Payer to Provider, Ayasdi’s suite of applications are focused around two common missions – delivering better care at lower costs and streamlining the back office.
            From Payer t
        </p>
    </div>
    <div class="pub_image"><img src="~/images/healthcare-1080x608.jpg" alt=""></div>
</div>
